.bild{
    margin-top: 50px;
    margin-left: 49.95%;
    margin-right: 49.95%;
    width: 0.2%;
    transition: 20s;
    border-radius: 100%;
}
.bild:hover{
    margin-top: 50px;
    margin-left: 49.95%;
    margin-right: 49.95%;
    scale: 3000;
}