<!doctype html>
<html lang="en"> 
  
  <head>
    <link href="{{ url_for('static', filename='style/info.css')}}" rel="stylesheet" type="text/css" />
    <link rel="icon" href="{{ url_for('static', filename='images/page_icon.jpg')}}">
    <title>Info</title>
    <meta charset="UTF-8"/>
  </head>
  <body>
    
    <header>
        <h1 >Info</h1>
    </header>
    För att uppdatera värden, skriv in det som ska stå. Klicka sedan enter. <br>
    <br>
    För att lägga till färdigheter skriv in namnet på färdigheten i rutan under den längst ned. Klicka sedan enter.<br>
    För att ta bort färdigheter, ändra deras värde till något mindre än 0. Klicka sedan enter.<br>
  </body>
</html